body {
    margin: 0;
    padding: 0;
    background-color: rgb(134, 134, 248);
    font-family: Arial, sans-serif;

    border-left: 15px solid rgb(106, 106, 207); /* Left border */
    border-right: 15px solid rgb(106, 106, 207); /* Right border */

    min-height: 100vh; /* Ensure at least the full viewport height */
}

body::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 20px solid rgb(106, 106, 207);

}

header {
    background-color: rgb(106, 106, 207);
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.the-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.the-button-main {
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    background-color: #f70d1a;
    position: relative;
    padding: 20px 20px;
    text-shadow: 0px 3px 0px #000;
    box-shadow: inset 0 1px 0 #f70d1a, 0 10px 0 #c90711;
    border-radius: 10px;
}

.the-button-base {
    height: 100%;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: -16px;
    left: -5px;
    z-index: -1;
    background-color: #2B1800;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

.the-button-main-active {
    text-shadow: 0px 1px 0px #000;
    top: 10px;
    box-shadow: inset 0 0 5px #FFE5C4;
    background-color: #f94c56;
}

.the-button:hover {
    cursor: pointer;
} */

button {
    all: unset;
    display: inline-block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 17px;
  }
  
  /* Important stuff below */
  .the-button-main {
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700; 
  }
  
  .the-button-main:active {
    box-shadow: none;
    transform: translateY(5px);
  }

