.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
}

main {
    text-align: center;
}

.the-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    grid-gap: 35px 40px; /* row, column */
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.the-button-main {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 0;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    all: unset;
    display: inline-block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 17px;
}

.button-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center both vertically and horizontally */
}

/* Enlarge the icon */
.the-button-main img {
    width: 80px; /* Adjust the size of the icon as needed */
    height: 80px;
    margin-bottom: 10px;
}

/* Style changes for smaller screens */
@media (max-width: 600px) {
    .the-button-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto; /* Reset the number of rows for smaller screens */
    }
}

.the-button-main {
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700; 
}

.the-button-main:active {
    box-shadow: none;
    transform: translateY(5px);
}
